/* Import Roboto Regular */
@font-face {
  font-family: 'Roboto';
  src: url('@/assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Import Roboto Italic */
@font-face {
  font-family: 'Roboto';
  src: url('@/assets/fonts/Roboto/Roboto-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

/* Import Roboto Bold */
@font-face {
  font-family: 'Roboto';
  src: url('@/assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* Import Roboto Bold Italic */
@font-face {
  font-family: 'Roboto';
  src: url('@/assets/fonts/Roboto/Roboto-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

/* Import Roboto Light */
@font-face {
  font-family: 'Roboto';
  src: url('@/assets/fonts/Roboto/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* Import Roboto Light Italic */
@font-face {
  font-family: 'Roboto';
  src: url('@/assets/fonts/Roboto/Roboto-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

/* Import Roboto Thin */
@font-face {
  font-family: 'Roboto';
  src: url('@/assets/fonts/Roboto/Roboto-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

/* Import Roboto Thin Italic */
@font-face {
  font-family: 'Roboto';
  src: url('@/assets/fonts/Roboto/Roboto-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

/* Import Roboto Brack */
@font-face {
  font-family: 'Roboto Brack';
  src: url('@/assets/fonts/Roboto/Roboto-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #148485;
  --ion-color-primary-rgb: 20, 132, 133;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #127475;
  --ion-color-primary-tint: #2c9091;

  --ion-color-secondary: #11292b;
  --ion-color-secondary-rgb: 17, 41, 43;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0f2426;
  --ion-color-secondary-tint: #293e40;

  --ion-color-tertiary: #b828be;
  --ion-color-tertiary-rgb: 184, 40, 190;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #a223a7;
  --ion-color-tertiary-tint: #bf3ec5;

  --ion-color-success: #88d44e;
  --ion-color-success-rgb: 136, 212, 78;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #78bb45;
  --ion-color-success-tint: #94d860;

  --ion-color-warning: #ff7f00;
  --ion-color-warning-rgb: 255, 127, 0;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #a75300;
  --ion-color-warning-tint: #ff8c1a;

  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-color-dark-cyan: #085251;

  --ion-font-family: 'Roboto', sans-serif;
}

body {
  --ion-background-color: #121212;
  --ion-background-color-rgb: 18, 18, 18;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;

  --ion-border-color: #222222;

  --ion-color-step-50: #1e1e1e;
  --ion-color-step-100: #2a2a2a;
  --ion-color-step-150: #363636;
  --ion-color-step-200: #414141;
  --ion-color-step-250: #4d4d4d;
  --ion-color-step-300: #595959;
  --ion-color-step-350: #656565;
  --ion-color-step-400: #717171;
  --ion-color-step-450: #7d7d7d;
  --ion-color-step-500: #898989;
  --ion-color-step-550: #949494;
  --ion-color-step-600: #a0a0a0;
  --ion-color-step-650: #acacac;
  --ion-color-step-700: #b8b8b8;
  --ion-color-step-750: #c4c4c4;
  --ion-color-step-800: #d0d0d0;
  --ion-color-step-850: #dbdbdb;
  --ion-color-step-900: #e7e7e7;
  --ion-color-step-950: #f3f3f3;

  --ion-item-background: #1e1e1e;

  --ion-toolbar-background: #1f1f1f;

  --ion-tab-bar-background: #1f1f1f;

  --ion-card-background: #1e1e1e;
}
